 <container id="container">
                
            <div><img src="./public/assets/img/burger.png"></div>

            <h2 id="title">Eat-Da-Burger!</h2>


                            <p>

                             <form id=burgerForm>
                                    <input id="bu" name="name">
                                     
                                    <button type="submit" id="submit">Submit</button>
                                    
                                 
                            </form>
                          
                            </p>
                           
                      
            <br>
            <p id="instructs">Enter a Burger you want to eat. Click the "Submit" button</p>

            <div id="lists">
                <ul id="leftTable" style="list-style-type:none;">
                {{#each burger}}
                    {{#unless devoured}}
                      {{> burger/burger-block devoured=true}}
                    {{/unless}}
                  {{/each}}
                </ul>

                <ul id="rightTable" style="list-style-type:none;">
                    <{{#each burger}}
                        {{#if devoured}}
                          {{> burger/burger-block devoured=false}}
                        {{/if}}
                      {{/each}}
                </ul>
            </div>

        </container> 

 

 
